* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Thin' !important;
}

body {
    background: #f7f8fc;
    font-family: 'Roboto Thin' !important;
}

.red-bg {
    background-color: #dc3545 !important;
    box-shadow: 2px 6px 25px 1px #d8d8d8;
}

.rsmoney {
    font-size: 1rem;
    font-weight: 100;
}

.btn-pedir {
    color: #fff !important;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
    text-align: center!important;
    padding: 20px!important;
}

a {
    font-weight: bold;
    cursor: pointer;
}

.bg-white {
    background: #fff !important;
    padding-top: 0 !important;
}

.bg-none {
    background: none;
}